// // var
$body-color:#fff;
$footer-color:#1b1b1b;
// цвет кноки
$color-btn: #ff9d00;
// цвет текста
$color-text:#373737;
// цвет заглавного цвета
$color-title:#ff9d00;
// цвет секции 
$color-serction:#f4f4f4;

@import '_misc/normalize';
@import '_misc/mixnin';
@import '_misc/fonts';
@import '_misc/adjusment';
@import 'blok/header';
@import 'blok/nav';
@import 'blok/humburger';
@import 'blok/btn-top';
@import 'blok/cardboard';
@import 'blok/modal';
@import 'blok/numbers';
@import 'blok/production';
@import 'blok/box';
@import 'blok/offer';
@import 'blok/slaider';
@import 'blok/clients';
@import 'blok/feedback';
@import 'blok/contacts';
@import 'blok/required';
@import 'blok/footer';

// стилизация медиа
@import 'blok/media';