.title {
  font-size: 27px;
  text-transform: uppercase;
  @include roboto(bold);
  text-align: center;
  margin-top: 50px;
  &::after {
    content: "";
    display: block;
    background: url('/img/decor/wavy.png') center no-repeat;
    height: 20px;
    margin-bottom: 5px;
  }
}
.box__wrapper {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
.box__block {
  flex-basis: 50%;
  margin-bottom: 30px;
}
.box__inner-pic { 
  display: flex;
  justify-content: center;  
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
}
.box__pic {
  width: 295px;
  height: 244px;
  object-fit: contain;  
}
.box__title {
  font-size: 18px;
  @include roboto(medium);
  margin-bottom: 20px;
}
.box__desc {
  text-align: center;
}
.button-o {
  margin-right: 12px;
  background-color: transparent;
  color: #c0c0c0; 
  border-color: #c0c0c0;
}