.feedback {
  background-color: #f4f4f4;
  padding-bottom: 70px;
}
.feedback__titel {
  padding-top: 5px;
  margin-bottom: 25px;
}
.feedback__slaider-wrap {
  width: 372px;
  height: 380px;
  margin-left: 10px;
}
.feedback__slaider-pic {
    width: 100%;  
}

//  img {
//   -moz-transition: all 1s ease-out;
//   -o-transition: all 1s ease-out;
//   -webkit-transition: all 1s ease-out;
//   }
  
//   img:hover{
//   -webkit-transform: scale(1.1);
//   -moz-transform: scale(1.1);
//   -o-transform: scale(1.1);
//   }